:root {
  --fg-primary: #1F2128;

  --bg-primary: #FFFFFF;

  --border-primary: #CDCDCD;
  --border-primary-60: 205,205,205,0.6;
  --border-secondary: #BDBDBD;

  --color-primary: #FFCE22;
  --color-primary-hover: #FFD84D;

  --color-secondary: #2469F6;
  --color-secondary-10: 36,105,246,0.1;
  --color-secondary-hover: #5087F8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100svw;
}

body {
  min-height: 100svh;
  color-scheme: light;
  color: var(--fg-primary);
  background-color: var(--bg-primary);
}

a {
  color: inherit;
  text-decoration: none;
}